# 只用这个选择当前运行模式：nat 或 proxyarp
VPN_MODE=nat

VPN_DOMAIN=cat66.cn
VPN_USER=2654603465
VPN_PASSWORD=ChangeThisPassword123!

# NAT 模式配置：可以和 Proxy ARP 配置同时存在
NAT_VPN_POOL=10.66.0.0/24
NAT_DNS1=1.1.1.1
NAT_DNS2=8.8.8.8
# NAT_LOCAL_TS=0.0.0.0/0

# Proxy ARP 同网段模式配置：可以和 NAT 配置同时存在
# 通常只需要改这一段 IP 范围，并在路由器 DHCP 里排除这段地址
PROXYARP_VPN_POOL=192.168.0.240/28
# DNS 可自定义。默认会根据 PROXYARP_VPN_POOL 自动推导为 192.168.0.1
# PROXYARP_DNS1=192.168.0.1
# PROXYARP_DNS2=1.1.1.1
# 高级可选：默认自动从 PROXYARP_VPN_POOL 推导，例如 192.168.0.240/28 -> 192.168.0.0/24
# PROXYARP_LAN_SUBNET=192.168.0.0/24
# PROXYARP_LOCAL_TS=192.168.0.0/24
